<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScanTypeSocket</key>
	<array>
		<dict>
			<key>Socket</key>
			<string>老式插座</string>
			<key>AMJe00</key>
			<string>插座快添</string>
			<key>Name00:</key>
			<string>老式插座</string>
			<key>Name00</key>
			<string>插座</string>
		</dict>
	</array>
	<key>ScanTypeSwitch</key>
	<array>
		<dict>
			<key>Switch:1</key>
			<string>老式一路开关</string>
			<key>Switch:2</key>
			<string>老式二路开关</string>
			<key>Switch:3</key>
			<string>老式三路开关</string>
			<key>Name01:</key>
			<string>老式一路开关</string>
			<key>Name01</key>
			<string>一路开关</string>
			<key>Name02:</key>
			<string>老式二路开关</string>
			<key>Name02</key>
			<string>二路开关</string>
			<key>Name03:</key>
			<string>老式三路开关</string>
			<key>Name03</key>
			<string>三路开关</string>
			<key>AMJe01</key>
			<string>一路开关快添</string>
			<key>AMJe02</key>
			<string>二路开关快添</string>
			<key>AMJe03</key>
			<string>三路开关快添</string>
			<key>Name11</key>
			<string>单火线一路开关</string>
			<key>Name12</key>
			<string>单火线二路开关</string>
			<key>Name13</key>
			<string>单火线三路开关</string>
			<key>AMJe11</key>
			<string>单火线一路开关快添</string>
			<key>AMJe12</key>
			<string>单火线二路开关快添</string>
			<key>AMJe13</key>
			<string>单火线三路开关快添</string>
			<key>Name21</key>
			<string>C系列一路开关</string>
			<key>Name22</key>
			<string>C系列二路开关</string>
			<key>Name23</key>
			<string>C系列三路开关</string>
		</dict>
	</array>
	<key>ScanTypeCurtain</key>
	<array>
		<dict>
			<key>Curtain</key>
			<string>老式窗帘</string>
			<key>Name04</key>
			<string>垂直窗帘</string>
			<key>Name05</key>
			<string>水平窗帘</string>
			<key>AMJe04</key>
			<string>垂直窗帘快添</string>
			<key>AMJe05</key>
			<string>水平窗帘快添</string>
		</dict>
	</array>
	<key>ScanTypeWarning</key>
	<array>
		<dict>
			<key>Name08</key>
			<string>智能门锁</string>
		</dict>
	</array>
	<key>ScanTypeOther</key>
	<array>
		<dict>
			<key>IrRemoteControllerA</key>
			<string>新版遥控器</string>
			<key>Name19</key>
			<string>联动设置器</string>
			<key>Name20</key>
			<string>智能门铃</string>
			<key>Name06</key>
			<string>触摸调光</string>
			<key>Name09</key>
			<string>智能门磁</string>
			<key>Name10</key>
			<string>呼救器</string>
			<key>Name14</key>
			<string>智能浴缸</string>
			<key>Name15</key>
			<string>自动门</string>
			<key>Name16</key>
			<string>灯光调节器</string>
			<key>Name17</key>
			<string>中央空调</string>
			<key>Name26</key>
			<string>售货机</string>
		</dict>
	</array>
	<key>ScanTypeWIFIControl</key>
	<array>
		<dict>
			<key>WIFI</key>
			<string></string>
		</dict>
	</array>
	<key>ScanTypeInfraredControl</key>
	<array>
		<dict>
			<key>Name07</key>
			<string>红外伴侣</string>
			<key>AMJe07</key>
			<string>红外伴侣</string>
		</dict>
	</array>
	<key>ScanTypeRemoteControl</key>
	<array>
		<dict>
			<key>Rem-53</key>
			<string>53键遥控器</string>
			<key>Rem-Da</key>
			<string>大键遥控器</string>
			<key>Men-01</key>
			<string>一位门口开关</string>
			<key>Men-03</key>
			<string>三位门口开关</string>
		</dict>
	</array>
	<key>ScanTypeAll</key>
	<array>
		<dict>
			<key>IrRemoteControllerA</key>
			<string></string>
			<key>Name</key>
			<string></string>
			<key>AMJe</key>
			<string></string>
			<key>Socket</key>
			<string></string>
			<key>Switch</key>
			<string></string>
			<key>Curtain</key>
			<string></string>
			<key>WIFI</key>
			<string></string>
			<key>Rem</key>
			<string></string>
			<key>Men</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
